[submodule "ai4eutils"]
	path = ai4eutils
	url = https://github.com/microsoft/ai4eutils.git
[submodule "cameratraps"]
	path = cameratraps
	url = https://github.com/microsoft/CameraTraps.git
[submodule "yolov5"]
	path = yolov5
	url = https://github.com/ultralytics/yolov5/
