# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
.idea/vcs.xml
.idea/workspace.xml
.idea/modules.xml
.idea/misc.xml
.idea/modules.xml
.idea/csv-plugin.xml
__pycache__
*.iml
out
gen

# Jupyter-lab files
Notebooks
.ipynb_checkpoints

# MegaDetector model and scripts
#cameratraps/run_detector.py
#cameratraps/run_detector_batch.py

# Others
GUI/__pycache__
./batchrun.py
